body { @include container(100%); }
.container-full { @include span(12); }
.container-narrow { @include span(5); }
.container-big { @include span(7 last); }

section { display: flex; }

.container-full{
	padding: 3rem;
}

.container-narrow,
.container-big{
	display: flex;
	justify-content: center;
}

.info-main{
	max-width: 80%;
}
.info-secondary{
	max-width: 80%;
}
