
/**
 * styles for susy grid
 */
@media screen and (min-width: 768px) {
	body { @include container(100%); }
	.susy-full { @include span(12); }
	.susy-narrow { @include span(5); }
	.susy-big { @include span(7 last); }
}

/**
 * Blocks positioning
 */
section {
	width: 100%;
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
	}
}

.header{
	position: relative;
	@media screen and (min-width: 768px) {
		position: absolute;
	}
}

.l-section-intro{
	align-items: flex-end;
	min-height: 100vh;
	overflow: hidden;
}

.l-info-intro{
	@media screen and (min-width: 1280px) {
		max-width: 70%;
	}
	@media screen and (min-height: 800px) {
		padding-bottom: 15%;
	}
}

.l-info-main{
	position: relative;
	@media screen and (min-width: 768px) {
		max-width: 500px;
	}
}

.l-info-secondary{
	position: relative;
	@media screen and (min-width: 768px) {
		max-width: 800px;
	}
}

.l-container{
	padding: 3rem 2rem;
	@media screen and (min-width: 768px) {
		padding: 4rem 3rem;
	}
	@media screen and (min-width: 1024px) {
		padding: 4rem;
	}
	@media screen and (min-width: 1366px) {
		padding: 5rem;
	}
}

.l-center{
	margin: auto;
}
