////////////////////////
// Variables Partials
////////////////////////

// Colors 
$color-link:#C14444;
$color-dark: #433F39;
$color-alternate:#EEC685;

// Fonts
$font-normal: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;