////////////////////////
// Variables Partials
////////////////////////

// Colors
$color-white: #FFF;
$color-blue: #3A4853;
$color-green: #48ACA9;
$color-red: #EB7A6A;
$color-light: #F0EFEA;
$color-dark: #757E86;

// Fonts
$font-normal: 'Montserrat', sans-serif;
$font-light: 'Montserrat Light', arial;

// Grid
$susy: (
  columns: 12,
  gutters: 0,
);
//debug: (image: show),
